body {
    box-sizing: border-box;
}

header > a{
    box-sizing: border-box;
    background-color: beige;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
}

form#defaultSearch {
    text-align: center;
    margin: 6px;
    clear: both;
}