body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
    font-family: 'Montserrat', sans-serif;

}

div {
    box-sizing: border-box;
    height: 24px;
    margin: auto;
}

header > a {
    box-sizing: border-box;
    float: right;
    margin-left: 2px;
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 2px;
}

#spacer {
    min-height: 200px;
}

a:link {
    text-decoration: none;
    color: rgb(15, 14, 14);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.searchFormButton:hover {
    cursor: pointer;
    box-shadow:0.5px 0.5px 1px 1px #c9c9c9eb;
}

.searchFormAdvancedDiv {
    margin-left: 45px;
    margin-right: 2%;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 100%;
    clear: both;
}

.searchFormFormatDiv {
    width: 100%;
    clear: both;
}

.searchFormDiv {
    float: left;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.searchFormLabel {
    float: left;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    font-family: inherit;
    line-height: 16px;
    vertical-align: middle;
}

form.searchForm {
    clear: both;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form.searchForm > .searchFormAdvanced {
    text-align: left;
    width: 100%;
}

.searchFormInput {
    border: solid rgb(179, 173, 173);
    border-radius: 16px;
    font-size: 16px;
    padding: 4px;
    min-height: 24px;
    min-width: 320px;
}

.searchFormInputAdvanced {
    border: solid rgb(179, 173, 173);
    border-radius: 8px;
    font-size: 16px;
    padding: 4px;
    width: 100%;
}

.searchFormButton {
    margin: 26px 8px auto;
    border: transparent;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    color:#444444;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    
}

.searchFormButtonAdvanced {
    float: right;
    border: inherit;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    vertical-align: middle;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    font-weight: bold;
    text-align: center;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 100%;
    user-select: none;
    min-width: 120px;

}
