body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgb(157, 152, 130);
    font-family: 'Montserrat', sans-serif;
}
div {
    box-sizing: border-box;
    height: 24px;
    margin: auto;
}

header > a{
    box-sizing: border-box;
    float: right;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    border: solid;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}


a:link {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2.25px rgb(128, 214, 247);

}

form.searchForm {
    clear: both;
    text-align: center;
    
}

.searchFormInput {
    border: solid rgb(179, 173, 173);
    border-radius: 8px;
    font-size: 16px;
    padding: 4px;
}

.searchFormButton {
    display: block;
    margin: 6px auto;
    border: solid rgb(179, 173, 173);
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
}